# kitty colors from .chezmoidata.toml [theme]

foreground            {{ .theme.fg }}
background            {{ .theme.bg }}
selection_foreground  {{ .theme.white }}
selection_background  {{ .theme.currentLine }}

url_color {{ .theme.cyan }}

# black
color0  {{ .theme.bgDark }}
color8  {{ .theme.comment }}

# red
color1  {{ .theme.red }}
color9  {{ .theme.redBright }}

# green
color2  {{ .theme.green }}
color10 {{ .theme.greenBright }}

# yellow
color3  {{ .theme.yellow }}
color11 {{ .theme.yellowBright }}

# blue
color4  {{ .theme.purple }}
color12 {{ .theme.purpleBright }}

# magenta
color5  {{ .theme.pink }}
color13 {{ .theme.pinkBright }}

# cyan
color6  {{ .theme.cyan }}
color14 {{ .theme.cyanBright }}

# white
color7  {{ .theme.fg }}
color15 {{ .theme.white }}

# Cursor colors
cursor            {{ .theme.fg }}
cursor_text_color background

# Tab bar colors
active_tab_foreground   {{ .theme.bg }}
active_tab_background   {{ .theme.fg }}
inactive_tab_foreground {{ .theme.bg }}
inactive_tab_background {{ .theme.comment }}

# Marks
mark1_foreground {{ .theme.bg }}
mark1_background {{ .theme.red }}
