# machine-dependent kitty bits, included last so they override kitty.conf
font_size {{ dig "kittyFontSize" "15" . }}
{{- if .features.fancyFx }}
background_opacity 0.88
{{- else }}
background_opacity 1.0
{{- end }}
