/_legacy/
/sunshine/
/home/dot_config/DankMaterialShell/plugins/claudeCodeUsage/
/home/dot_config/DankMaterialShell/plugins/dockerManager/
/home/dot_config/DankMaterialShell/plugins/homeAssistantMonitor/
