export PATH=$PATH:$HOME/.local/bin:$HOME/.cabal/bin:$HOME/.ghcup/bin:$HOME/.npm-global/bin:$HOME/.cargo/bin
pasystray &
export GTK_IM_MODULE=ibus
export GTK_THEME=Dracula
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
systemctl --user import-environment DISPLAY XAUTHORITY
# stop stale sunshine, it is started on demand by stream
systemctl --user --no-block stop app-dev.lizardbyte.app.Sunshine.service
# X defaults primary to the inactive virtual head, breaks sunshine indexing
xrandr --output {{ .x11.primary }} --primary
xrdb -merge .Xresources && exec i3
