{
  "id": "dracula",
  "name": "Dracula",
  "dark": {
    "name": "Dracula",
    "primary": "{{ .theme.purple }}",
    "primaryText": "{{ .theme.bg }}",
    "primaryContainer": "{{ .theme.purpleDim }}",
    "secondary": "{{ .theme.pink }}",
    "surface": "{{ .theme.bg }}",
    "surfaceText": "{{ .theme.fg }}",
    "surfaceVariant": "{{ .theme.currentLine }}",
    "surfaceVariantText": "{{ .theme.surfaceVariantText }}",
    "surfaceTint": "{{ .theme.purple }}",
    "background": "{{ .theme.bg }}",
    "backgroundText": "{{ .theme.fg }}",
    "outline": "{{ .theme.comment }}",
    "surfaceContainerLowest": "{{ .theme.bgDark }}",
    "surfaceContainerLow": "{{ .theme.surfaceLow }}",
    "surfaceContainer": "{{ .theme.surface }}",
    "surfaceContainerHigh": "{{ .theme.surfaceHigh }}",
    "surfaceContainerHighest": "{{ .theme.surfaceHighest }}"
  }
}
