{
  "id": "dracula",
  "name": "Dracula",
  "dark": {
    "name": "Dracula",
    "primary": "{{ .dracula.purple }}",
    "primaryText": "{{ .dracula.bg }}",
    "primaryContainer": "{{ .dracula.purpleDim }}",
    "secondary": "{{ .dracula.pink }}",
    "surface": "{{ .dracula.bg }}",
    "surfaceText": "{{ .dracula.fg }}",
    "surfaceVariant": "{{ .dracula.currentLine }}",
    "surfaceVariantText": "{{ .dracula.surfaceVariantText }}",
    "surfaceTint": "{{ .dracula.purple }}",
    "background": "{{ .dracula.bg }}",
    "backgroundText": "{{ .dracula.fg }}",
    "outline": "{{ .dracula.comment }}",
    "surfaceContainerLowest": "{{ .dracula.bgDark }}",
    "surfaceContainerLow": "{{ .dracula.surfaceLow }}",
    "surfaceContainer": "{{ .dracula.surface }}",
    "surfaceContainerHigh": "{{ .dracula.surfaceHigh }}",
    "surfaceContainerHighest": "{{ .dracula.surfaceHighest }}"
  }
}
